@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500&display=swap');

html, main, header {
    background-color: #09262F;
    font-family: 'Darker Grotesque', sans-serif;
}

html{
    scroll-behavior: smooth;
}

h1 {
    text-align: center;
    background-color: #09262F;
    color: #A7BFD4;
    margin: 0.25em;
    padding-bottom: 1em;
    padding-top: 0.5em;
    font-size: 2.5em;
}

#logo {
    height: 50px;
}

#burger {
    color: #A7BFD4;
    width: 50px;
    height: 50px;
    float: right;
}

body{
    margin-left: 0;
    margin-right: 0;
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-areas:
            "header"
            "clubOfTheWeek"
            "otherClubs";
    height: 100%;
}

.header {
    grid-area: header;
}

.clubOfTheWeek{
    grid-area: clubOfTheWeek;
}

.cotwIMG{
    border-radius: 30px;
    width: auto;
    height: 28.125em;
}
#nameOfCOTW{
    background-color: #09262F;
    color: #A7BFD4;
    font-size: 2.5em;
}

.top{
    margin: 0.5em;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 10vh;
    grid-area: container;
    margin-top: 2em;
    border-top: 3px solid #294652;
    border-radius: 3em;
    background-color: #09262F;
    box-shadow: 0 -40px 30px #071e26;
}
.arrow{
    border:solid #A7BFD4;
    border-width: 0 2px 2px 0;
    height: 5px;
    width: 5px;
    display: inline-block;
    padding: 2px;
    margin-top: 9px;
    margin-left: 7px;
    transform: rotate(-45deg);
}
.circle{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid #A7BFD4;
    margin-left: 15px;
    margin-top: 10px;
    background-color: #09262F;
}
.circle:hover {
    background-color: #071e26;
}

.circle:active{
    background-color: #A7BFD4;
}

.circle:active > .arrow{
    border:solid #09262F;
    border-width: 0 2px 2px 0;
    height: 5px;
    width: 5px;
    display: inline-block;
    padding: 2px;
    margin-top: 9px;
    margin-left: 7px;
    transform: rotate(-45deg);
}

.arrow:active{
    border:solid #09262F;
    border-width: 0 2px 2px 0;
    height: 5px;
    width: 5px;
    display: inline-block;
    padding: 2px;
    margin-top: 9px;
    margin-left: 7px;
    transform: rotate(-45deg);
}

/*
https://www.sliderrevolution.com/resources/css-arrow/
Author: Hektor Wallin
.arrow {
    cursor: pointer;
    height: 60px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: transform 0.1s;
    width: 40px;
    border-radius: 100%;
    border: 5px solid white;
}
.arrow-top, .arrow-bottom {
    background-color: #666;
    height: 4px;
    left: -5px;
    position: absolute;
    top: 50%;
    width: 100%;
}
.arrow-top:after, .arrow-bottom:after {
    background-color: #fff;
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    transition: all 0.15s;
}
.arrow-top {
    transform: rotate(45deg);
    transform-origin: bottom right;
}
.arrow-top:after {
    left: 100%;
    right: 0;
    transition-delay: 0s;
}
.arrow-bottom {
    transform: rotate(-45deg);
    transform-origin: top right;
}
.arrow-bottom:after {
    left: 0;
    right: 100%;
    transition-delay: 0.15s;
}
.arrow:hover .arrow-top:after {
    left: 0;
    transition-delay: 0.15s;
}
.arrow:hover .arrow-bottom:after {
    right: 0;
    transition-delay: 0s;
}
.arrow:active {
    transform: translateX(-50%) translateY(-50%) scale(0.9);
}
*/

.scrollDown {
    color: #A7BFD4;
    font-weight: bold;
}

#scrollDownIcon {
    width: 30px;
    height: 30px;
}
#exploreMoreText{
    margin-bottom: 0;
}

.otherClubs{
    margin-top: 5em;
    grid-area: otherClubs;

}
#otherClubsText{
    font-size: 2.5em;
    text-align: center;
    color: #A7BFD4;
}
a{
    text-decoration: none;
    color: inherit;
}

.otherClubsContainer{
    height: 10vh;
    margin-top: 2em;
    border-top: 3px solid #294652;
    border-radius: 3em;
    background-color: #09262F;
    box-shadow: 0 -40px 30px #071e26;
}

article{
    margin-top: 2em;
    margin-bottom: 2em;
    color: #A7BFD4;
}
.articleText{
    font-size: 2em;
}

h3{
    margin: 1em;
    font-size: 2.5em;
    color: #A7BFD4;
}

.otherClubsImg{
    border-radius: 30px;
    width: 15em;
    height: auto;
}
.iconBorder{
    border: 1px solid #A7BFD4;
    width: auto;
    border-radius: 10px;
    margin-bottom: 5px;
}

#heart{
    padding-top: 5px;
    padding-left: 5px;
}
#eye{
    padding-top: 5px;
    padding-left: 5px;
}
.dateText{
    border-radius: 20px;
    border: 2px solid #A7BFD4;
    text-align: center;
}
.values{
    padding-left: 1px;
    font-size: 1.5em;
    margin-right: 5px;
}

.loadMore{
    color: #A7BFD4;
}
#loadMoreText{
    font-size: 1.5em;
    font-weight: bold;
}