@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500&display=swap');

* { /*CSS Reset*/
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Darker Grotesque', sans-serif;
}

@media screen and (min-width: 400px) {

    .container {
        display: grid;
        height: 100vh;
        width: 100vw;
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: 70% 30%;
        grid-template-areas:
        "bar club location"
        "nav_bar nav_club nav_location";
    }
}

.container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 70% 30%;
    grid-template-areas:
    "bar"
    "nav_bar";
}

.landingpage_img {
    position: relative;
    object-fit: cover;
    height: 110%;
    width: 100%;
    min-width: 200px;
    max-width: 400px;
}

.logo_img{ /*max width??*/
    position: absolute;
    width: 20%;
    top: 5%;
    left: 40%;
}

.navigation {
    position: relative;
    background-color: #09262F;
    align-self: stretch;
    justify-self: stretch;
    min-width: 200px;
    max-width: 400px;
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
}

.image_content {
    grid-area: bar;
    position: relative;
}

#navigationarea_bar{
    grid-area: nav_bar;
}

#button_bar {
    grid-area: nav_bar;
    font-weight: 500;
}