@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800&display=swap');

* { /* CSS Reset */
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Darker Grotesque', sans-serif;
}

:root {
    --main-color: #09262F;
    --bar-color: #F8F26D;
    --club-color: #A7BFD4;
    --eventlocation-color: #4BC9A7;
}

.containerino {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 70% 30%;
    grid-template-areas:
    "img"
    "navarea";
}

.image_content {
    grid-area: img;
    position: relative;
    max-width: 25em;
    justify-self: center;
}

.landingpage_img {
    position: relative;
    object-fit: cover;
    height: 110%;
    width: 100%;
    min-width: 300px;
}

.shadowbox {
    position: absolute;
    width: 100%;
    max-width: 25em;
    height: 40%;
    background: linear-gradient(rgba(0,0,0,0.8), transparent);
    z-index: 1;
}
.logo_img{
    position: absolute;
    width: 20%;
    max-width: 25em;
    top: 3%;
    left: 40%;
    z-index: 2;
}
.navigation { /*border radius top right (<300px screen size)??*/
    grid-area: navarea;
    position: relative;
    width: 100%;
    max-width: 25em;
    justify-self: center;
    align-self: stretch;
    background-color: var(--main-color);
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
    box-shadow: rgba(0, 0, 0, 0.45) 0px -5px 15px;
}

.landingpage_title {
    text-align: center;
    font-weight: 300;
    font-size: 50px;
}

#title_bar {
    color: var(--bar-color);
}

#title_club {
    color: var(--club-color);
}

#title_eventlocation {
    color: var(--eventlocation-color);
}

.landingpage_button {
    position: absolute;
    width: 100%;
    max-width: 5em;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 400;
    font-size: 30px;
    background-color: var(--main-color);
    border: 2px solid;
    border-radius: 10px;
    padding: 5px;
}

#button_bar {
    color: var(--bar-color);
}

#button_club {
    color: var(--club-color);
}

#button_eventlocation {
    color: var(--eventlocation-color);
}
/* - indicator position
.carousel .carousel-indicators {
    position: absolute;
    top: 80%;
}

 */
/* - make indicators into circles
.carousel .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
 */
