@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Darker Grotesque', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #09262F;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #A7BFD5;
    color: #09262F;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.05);
    z-index: 1000;
}

header img {
    width: 90px;
    height: 90px;
}

.logo {
    height: 100px;
    line-height: 80px;
    color: #09262F;
    font-weight: 700;
    font-size: 34px;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

/* Animation */

#toggle {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

#toggle::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    border-radius: 5px;
    background: #000;
    transform: translateY(-5px);
    transition: 0.2s;
}

#toggle::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    border-radius: 5px;
    background: #000;
    transform: translateY(5px);
    transition: 0.2s;
}

#toggle.active::before {
    transform: translateY(0px) rotate(45deg);
}

#toggle.active::after {
    transform: translateY(0px) rotate(-45deg);
}

#navbar {
    position: relative;
    height: 100px;
    right: 60px;
    transition: 0.5s;
    width: 0;
    overflow: hidden;
    color: #09262F;
}

#navbar.active {
    width: 550px;
    left: -100px;
}

#navbar ul {
    position: relative;
    display: flex;
    flex-direction: row;
}

#navbar ul li {
    list-style: none;
}

#navbar ul li a {
    color: #09262F;
    height: 60px;
    line-height: 100px;
    display: inline-block;
    text-decoration: none;
    font-size: 30px;
    padding: 0 15px;
    letter-spacing: 1px;
}

#navbar ul li a:hover {
    color: #fff;
    transition: color 0.5s ease-in-out;
}

#navbar #current_site {
    color: #FFFFFF;
}

.categories {
    position: relative;
}

/* Das ist für den Hintergrund beim Wort Club
#dropdown_categories {
    background-color: #09262F;
    padding: 5px;
    color: #A7BFD5;
    border-radius: 9px;
}
 */

.dropdown {
    background-color: #09262F;
    position: absolute;
    display: none;
    border-radius: 8px;
    top: 35px;
}

.dropdown li {
    padding: 0.5em 1em;
    width: 100%;
    text-align: center;
}

.dropdown li + li {
    margin-top: 10px;
}

.categories:hover .dropdown {
    display: block;
}

main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 90px;
    padding: 10px;
    color: #A7BFD5;
    font-size: 34px;
}

.about {
    text-align: center;
    background-color: #A7BFD5;
    padding: 30px;
    margin: 30px;
    border-style: solid;
    border-radius: 5px;
    border-color: #A7BFD5;
}

#about_h1 {
    padding: 10px;
    color: #09262F;
}

#about_description {
    background-color: #000;
    padding: 30px;
    margin: 30px;
    color: #A7BFD5;
    border-style: solid;
    border-radius: 10px;
    border-color: #000;
}

#about_table {
    width: 100%;
    font-size: 30px;
}

#about_text {
    text-align: left;
    font-size: 30px;
    padding: 20px;
    margin: 15px;
    color: #09262F;
}

/*
Responsiveness
Funktioniert bis max-width: 980px aber nicht darunter, wtf?
max-width: 768px; scheint der Standard zu sein
*/

@media (max-width: 980px) {
    #navbar {
        position: fixed;
        bottom: -100%;
        right: 0;
        width: 100%;
        transition: 0.5s;
        display: block;
        justify-content: right;
        align-items: center;
        background-color: #09262F;
        opacity: 0.8;
    }

    #navbar.active {
        height: calc(100vh - 100px);
        bottom: 0;
        width: 100%;
        left: 0;
        text-align: center;
        justify-content: center;
    }

    #navbar ul {
        flex-direction: column;
        justify-content: right;
        align-items: center;
    }

    #navbar ul li a {
        color: #A7BFD5;
    }
}