* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: cursive;
    background-color: #09262F;
}

header img {
    width: 90px;
    height: 90px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    color: #09262F;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background-color: #A7BFD5;
    color: #09262F;
}

.nav-links a {
    color: #09262F;
}

.logo {
    font-size: 34px;
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu a:hover {
    color: #FFFFFF;
    transition: color 0.5s;
}

.menu li {
    padding: 5px 14px;
}

.categories {
    position: relative;
}

#dropdown_categories {
    background-color: #09262F;
    padding: 5px;
    color: #A7BFD5;
    border-radius: 9px;
}

/* Geht sicher einfacher mit der Farbe, aber mich hat das jetzt 45min gekostet und ich hab's
dann einfach so gemacht haha
 */
#dropdown_color1 {
    color: #A7BFD5;
}

#dropdown_color2 {
    color: #A7BFD5;
}

#dropdown_color3 {
    color: #A7BFD5;
}

.dropdown {
    background-color: #09262F;
    padding: 1em 0;
    position: absolute;
    display: none;
    border-radius: 8px;
    top: 35px;
}

.dropdown li + li {
    margin-top: 10px;
}

.dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}

.categories:hover .dropdown {
    display: block;
}

@media (min-width: 768px) {

    .menu-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 25px;
        cursor: pointer;
        transition: all .5s ease-in-out;
    }

    .menu-btn__burger {
        width: 50px;
        height: 6px;
        background: #09262F;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
        transition: all .5s ease-in-out;
    }

    .menu-btn__burger::before,
    .menu-btn__burger::after {
        content: '';
        position: absolute;
        width: 50px;
        height: 6px;
        background: #09262F;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
        transition: all .5s ease-in-out;
    }

    .menu-btn__burger::before {
        transform: translateY(-16px);
    }

    .menu-btn__burger::after {
        transform: translateY(16px);
    }

    /* Animation */
    .menu-btn.open .menu-btn__burger {
        transform: translateX(-50px);
        background: transparent;
        box-shadow: none;
    }

    .menu-btn.open .menu-btn__burger::before {
        transform: rotate(45deg) translate(35px, -35px);
    }

    .menu-btn.open .menu-btn__burger::after {
        transform: rotate(-45deg) translate(35px, 35px);
    }
}
/* Responsive Navbar Menu Starts */


input[type=checkbox]{
    display: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

@media (max-width: 768px){
    .menu {
        display: none;
        position: absolute;
        background-color: #A7BFD5;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }

    .menu a:hover {
        color: #FFFFFF;
        transition: color 0.25s;
    }

    .menu li + li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked ~ .menu{
        display: block;
    }

    .hamburger{
        display: block;
    }

    .dropdown{
        left: 50%;
        top: 30px;
        transform: translateX(35%);
    }

    .logo {
        font-size: 0;
    }
}