@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500&display=swap');

html, main, header {
    background-color: #09262F;
    font-family: 'Darker Grotesque', sans-serif;
}

html{
    scroll-behavior: smooth;
}

h1 {
    text-align: center;
    background-color: #09262F;
    color: #F8F26D;
    margin: 0.25em;
    padding-bottom: 1em;
    padding-top: 0.5em;
    font-size: 2.5em;
}

#logo {
    height: 50px;
}

#burger {
    color: #F8F26D;
    width: 50px;
    height: 50px;
    float: right;
}

body{
    margin-left: 0;
    margin-right: 0;
}

.header {
    grid-area: header;
}

.clubOfTheWeek{
    grid-area: clubOfTheWeek;
}

.cotwIMG{
    border-radius: 30px;
    width: auto;
    height: 25.125em;
}
#nameOfCOTW{
    background-color: #09262F;
    color: #F8F26D;
    font-size: 2.5em;
}

.top{
    margin: 0.5em;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 10vh;
    grid-area: container;
    margin-top: 2em;
    border-top: 3px solid #294652;
    border-radius: 3em;
    background-color: #09262F;
    box-shadow: 0 -40px 30px #071e26;
}
.arrow{
    border:solid #F8F26D;
    border-width: 0 2px 2px 0;
    height: 5px;
    width: 5px;
    display: inline-block;
    padding: 2px;
    margin-top: 9px;
    margin-left: 7px;
    transform: rotate(-45deg);
}
.circle{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid #F8F26D;
    margin-left: 5px;
    margin-top: 10px;
    background-color: #09262F;
}
.circle:hover {
    background-color: #071e26;
}

.circle:active{
    background-color: #F8F26D;
}

.circle:active > .arrow{
    border:solid #09262F;
    border-width: 0 2px 2px 0;
    height: 5px;
    width: 5px;
    display: inline-block;
    padding: 2px;
    margin-top: 9px;
    margin-left: 7px;
    transform: rotate(-45deg);
}

.arrow:active{
    border:solid #09262F;
    border-width: 0 2px 2px 0;
    height: 5px;
    width: 5px;
    display: inline-block;
    padding: 2px;
    margin-top: 9px;
    margin-left: 7px;
    transform: rotate(-45deg);
}

.scrollDown {
    color: #F8F26D;
    font-weight: bold;
}

#scrollDownIcon {
    width: 30px;
    height: 30px;
}
#exploreMoreText{
    margin-bottom: 0;
}

.otherClubs{
    margin-top: 5em;
    grid-area: otherClubs;

}
#otherClubsText{
    font-size: 2.5em;
    text-align: center;
    color: #F8F26D;
}
a{
    text-decoration: none;
    color: inherit;
}

.otherClubsContainer{
    height: 10vh;
    margin-top: 2em;
    border-top: 3px solid #294652;
    border-radius: 3em;
    background-color: #09262F;
    box-shadow: 0 -40px 30px #071e26;
}

article{
    margin-top: 2em;
    margin-bottom: 2em;
    color: #F8F26D;
}
.articleText{
    font-size: 2em;
}

h3{
    margin: 1em;
    font-size: 2.5em;
    color: #F8F26D;
}

.otherClubsImg{
    border-radius: 30px;
    width: 15em;
    height: auto;
}
.iconBorder{
    border: 1px solid #F8F26D;
    width: auto;
    border-radius: 10px;
    margin-bottom: 5px;
}

#heart{
    padding-top: 5px;
    padding-left: 5px;
}
#eye{
    padding-top: 5px;
    padding-left: 5px;
}
.dateText{
    border-radius: 20px;
    border: 2px solid #F8F26D;
    text-align: center;
}
.values{
    padding-left: 1px;
    font-size: 1.5em;
    margin-right: 5px;
}

.loadMore{
    color: #F8F26D;
}
#loadMoreText{
    font-size: 1.5em;
    font-weight: bold;
}

.swal-modal{
    background-color: #09262F;
}

.swal-text{
    color: #F8F26D;
    text-align: center;
    font-size: 30px;
}
.swall-title{
    color: #F8F26D;
    background-color: #F8F26D;
}