@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800&display=swap');

* { /* CSS Reset */
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Darker Grotesque', sans-serif;
    background-color: var(--main-color);
}

:root {
    --main-color: #09262F;
    --bar-color: #F8F26D;
    --club-color: #A7BFD4;
    --club-color-light: #294652;
    --shadow-color: #071e26;
    --bar-color-light: #858238;
}

iframe {
    border-radius: 3em;
}

.footer_icons, .navbar-brand {
    background: transparent;
}
:hover {
    color: var(--club-color);
}

.clubOfTheWeek {
    color: var(--club-color);
}
#logo {
    background: transparent;
}

ul {
    background: transparent;
}

h1 {
    color: var(--club-color);
    text-align: center!important;
    font-size: 2.5em !important;
}

h2 {
    text-align: center;
    font-size: 1em;
}

h3{
    margin: 1em;
    font-size: 2.5em;
    color: var(--club-color);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.containerino {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template:
            "header" auto
            "img" 75%
            "content" 15%;
}

header {
    grid-area: header;
    height: 10vh;
}


.navbar {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

main {
    display: grid;

}

li {
    background: transparent;
}

.scrollDown {
    grid-area: content;
    color: var(--club-color);
    border-top: 3px solid var(--club-color-light);
    border-radius: 3em;
    background-color: var(--main-color);
    box-shadow: 0 -30px 40px var(--shadow-color);
}

#exploreMoreText {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
    color: var(--club-color);
    background: transparent;
    position: absolute;
    bottom: 4%;
    left: 50%;
    transform: translate(-50%);
}

#scrollDownIcon {
    grid-area: content;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 30px;
    height: 30px;
    background: transparent;
}

.arrow{
    border:solid var(--club-color);
    border-width: 0 2px 2px 0;
    height: 10px;
    width: 10px;
    display: inline-block;
    padding: 2px;
    margin-top: 7px;
    margin-left: 7px;
    transform: rotate(-45deg);
}
.circle{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid var(--club-color);
    margin-left: 5px;
    margin-top: 5px;
    background-color: #09262F;
}
.circle:hover {
    background-color: #071e26;
}
.circle:hover > .arrow{
    background-color: #071e26;
}

.circle:active{
    background-color: var(--club-color);
}

.circle:active > .arrow{
    border:solid #09262F;
    border-width: 0 2px 2px 0;
    background-color: var(--club-color) !important;
    height: 10px;
    width: 10px;
    display: inline-block;
    padding: 2px;
    margin-top: 8px;
    margin-left: 8px;
    transform: rotate(-45deg);
}

.arrow:active{
    border:solid #09262F;
    background-color: var(--club-color) !important;
    border-width: 0 2px 2px 0;
    height: 10px;
    width: 10px;
    display: inline-block;
    padding: 2px;
    margin-top: 8px;
    margin-left: 8px;
    transform: rotate(-45deg);
}

#nameOfCOTW{
    background-color: #09262F;
    color: var(--club-color);
    font-size: 2.5em !important;
}

.dateText{
    border-radius: 20px;
    border: 2px solid var(--club-color);
    text-align: center;
}

article{
    margin-top: 2em;
    margin-bottom: 2em;
    color: var(--club-color);
}
.articleText{
    font-size: 2em !important;
}

.otherClubsImg{
    border-radius: 30px;
    width: 15em;
    height: auto;
}

.iconBorder{
    border: 1px solid var(--club-color);
    width: auto;
    border-radius: 10px;
    margin-bottom: 5px;
}

#heart{
    padding-top: 5px;
    padding-left: 5px;
    color: var(--club-color); !important;
}
#eye{
    padding-top: 5px;
    padding-left: 5px;
    color: var(--club-color); !important;
}

.values{
    padding-left: 1px;
    font-size: 1.5em !important;
    margin-right: 5px;
}

.cotwIMG{
    border-radius: 30px;
    width: auto;
    height: 20em;
    padding-bottom: 1em;
}