@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --bar-color: #F8F26D;
    --bar-color-light: #858238;
}

header {
    height: 6em;
    width: 100%;
}

#logo {
    margin-top: 0;
    margin-left: 0.5em;
    height: 50px;
    background: transparent; !important;
}

.navbar-expand-lg, .navbar-nav {
    background: transparent; !important;
    border: none;!important;
}

.bg-custom, .navbar-custom {
    background-color: #09262F !important;
}
.navbar-collapse, .navbar-nav, .nav-item, .navbar-brand {
    background: transparent !important;
}

.navbar {
    border-bottom: solid var(--bar-color-light) 3px !important;
    border-bottom-left-radius: 3em !important;
    border-bottom-right-radius: 3em !important;
}

.navbar-toggler {
    margin-right: 1.2em;
    width: 35px;
    height: 20px;
    position: relative;
    transition: 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler:visited,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 0 !important;
}

.toggler-icon {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: var(--bar-color);
    border-radius: 5px;
    opacity: 1;
    left: 0;
    transition: 0.25s ease-in-out;
}

.middle-bar {
    margin-top: 0;
}

/*region Opened*/

.navbar-toggler .top-bar {
    margin-top: 0;
    transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    margin-top: 0;
    transform: rotate(-135deg);
}

/*endregion*/

/*region Closed*/
.navbar-toggler.collapsed .top-bar {
    margin-top: -12px;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    margin-top: 12px;
    transform: rotate(0deg);
}
/*endregion*/

.headerIcons {
    color: var(--bar-color);
    vertical-align: middle;
    padding-right: 0.5em;
}

.nav-link {
    margin-left: 2em;
    color: var(--bar-color); !important;
    font-weight: 600;
    float: left !important;
}

.dropdown-menu {
    background-color: #09262F!important;
    border: none!important;
}

.dropdown-item {
    margin-left: 3em;
    color: var(--bar-color); !important;
}


.headerLine {
    height: 4px;
    width: 100%;
    border-bottom: solid var(--bar-color-light) 2px;
}

li {
    padding-top: 1em;
    padding-bottom: 1em;
}

/*region Font Specifications*/
h1 {
    text-align: center;
    color: var(--bar-color);
    font-size: 2.7em !important;
    font-weight: 600 !important;
}

h2 {
    font-size: 2.5em !important;
    font-weight: 400!important;
    color: var(--bar-color);
}

p {
    font-size: 1.2em !important;
    color: var(--bar-color);
}

a:link, a:visited,  a:hover, a:active {
    font-size: 1.2em;
    color: var(--bar-color); !important;
    text-decoration: none !important;
    box-shadow: none;
}

label {
    font-size: 1.2em !important;
}
/*endregion*/

@media only screen and (min-width: 600px) {
    .headerLine {
        border: none;
        background-color: transparent;
    }

    .nav-item {
        min-width: 10em;
    }

    .nav-link {
        display: flex;
        margin: 0;
    }
}