@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&display=swap');
html, body, main, header {
    background-color: #09262F;
    font-family: 'Darker Grotesque', sans-serif !important;
    scroll-behavior: smooth;
}

/*region Font Specifications*/
h1 {
    text-align: center;
    color: #A7BFD4;
    font-size: 2.7em !important;
    font-weight: 600 !important;
}

h2 {
    font-size: 2.5em !important;
    font-weight: 400!important;
    color: #A7BFD4;
}

p {
    font-size: 1.2em !important;
    color: #A7BFD4;
}

a:link, a:visited,  a:hover, a:active {
    font-size: 1.2em;
    color: #A7BFD4;
    text-decoration: none !important;
    box-shadow: none;
}

label {
    font-size: 1.2em !important;
}
/*endregion*/

/*region Body Grid*/
body {
    display: grid;

    grid-template:
        "header" auto
        "mainPage" auto
        "clubList" auto
        "socialMedia" auto;

    height: 100%;
}

header {
    grid-area: header;
    height: 10vh;
}

.mainPage {
    grid-area: mainPage;
    height: 100vh;
}

.results {
    grid-area: clubList;
    color: #A7BFD4;
}

.wrapper {
    grid-area: socialMedia;
}
/*endregion*/

.pageTitle {
    margin-left: 2em;
    margin-right: 2em;
    padding-bottom: 1em;
}

/*region List*/
#searchListContainer {
    border-top: 3px solid #294652;
    border-radius: 3em;
    background-color: #09262F;
    box-shadow: 0 -40px 30px #071e26;
}

.searchList, li, .whereGrid {
    background-color: transparent;
    margin: 0;
    padding: 0;
}

li {
    padding-top: 1em;
    padding-bottom: 1em;
}

.searchList {
    margin-top: 4.5em;
    border-top: 2px solid #294652;
    border-bottom: 2px solid #071e26;
}

.searchElement {
    border-top: 2px solid #071e26;
    border-bottom: 2px solid #294652;
}

/*endregion*/

/*region Grid*/
.whereGrid {
    display: grid;
    grid-template-areas: "a1 a2 a3";
    justify-content: center;
    width: 100%;
}

.icon {
    grid-area: a1;
    margin-right: 1.5em;
    align-self: center;
}

.line {
    grid-area: a2;
    background-color: #A7BFD4;
    width: 2px;
    height: 100%;
    margin-right: 1.5em;
    align-self: center;
}

.searchInput {
    grid-area: a3;
}
/*endregion*/

/*region Grid Elements*/
input, select {
    border: 1px solid #A7BFD4 !important;
    border-radius: 15px !important;
    width: 15em !important;
    height: 2em !important;
    padding-left: 12px !important;
    padding-right: 10px !important;

    background-color: #09262F !important;
    color: #A7BFD4 !important;
}

option {
    background-color: #09262F;
    border: solid 2px #A7BFD4;
    color: #A7BFD4;
}

option:visited {
    background-color: #F8F26D;
}

input:focus {
    outline-color: white;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

label {
    padding-left: 15px;
    color: #A7BFD4;
}

.listIcon {
    width: 30px;
    height: 30px;
    color: #A7BFD4;
}
/*endregion*/

/*region Search Button*/
#searchButton {
    margin: 2em;
    width: 11em;
    height: 3.5em;

    border-radius: 1em;
    border: 1px solid #A7BFD4;

    background-color: #071e26;
    transition-duration: 0.4s;
    color: #A7BFD4;
}

#searchButton:active {
    color: #071e26;
    background-color: #A7BFD4;
}

#searchIcon {
    width: 2em;
    height: 2em;
}
/*endregion*/

/*region Show Results*/
#scrollDown>a {
    color: #A7BFD4;
    width: auto;
}

#scrollDown>a:active {
    color: white;
}

#scrollDownIcon {
    margin-left: auto;
    margin-right: auto;
    display: block;

    width: 2em;
    height: 2em;
}

#showResults {
    width: auto;
    text-align: center;
    font-weight: 700 !important;
    margin-bottom: 0;
}
/*endregion*/

#results {
    padding-top: 5em;
}

.pageResult {
    padding-bottom: 1em;
    padding-top: 1em;
}

.wallPaperImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2em;
}

#clubList {
    border-top: 3px solid #294652;
    border-radius: 3em;
    background-color: #09262F;
    box-shadow: 0px -40px 30px #071e26;
}

#clubList>article {
    margin-top: 3em;
    padding-bottom: 1em;
    border-bottom: solid #294652 2px;
}

.wallPaper {
    width: 85%;
    height: 15em;
    border-radius: 3em;
    background-color: #A7BFD4;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.name {
    display: inline-block;
    margin: 0.5em 0.2em 0 15%;
}

.detailsButtonContainer {
    display: inline-block;
    vertical-align: bottom;
}

.detailsButton {
    width: 2.5em;
    height: 2.5em;
    border-radius: 1.5em;

    border: 1px solid #A7BFD4;

    background-color: #071e26;
    transition-duration: 0.1s;
    color: #A7BFD4;
}

.detailsButton:active {
    color: #071e26;
    background-color: #A7BFD4;
}

.detailButtonIcon {
    width: 2em;
    height: 2em;
    vertical-align: middle;
}

.infoLabel {
    margin: 0.5em 0 0 15%;
    display: flex;
    align-items: center;
}

article>button {
    border-radius: 1em;
    border: 1px solid #A7BFD4;

    background-color: #071e26;
    transition-duration: 0.4s;
    color: #A7BFD4;
}

article>button>label {
    font-size: 1em !important;
    font-weight: 600 !important;
}

#loadMore {
    margin-bottom: 4em;
}

#loadMore>p {
    margin-bottom: 0;
    text-align: center;
    font-weight: 700 !important;
}

/* Pls ignore me for now*/

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 600px) {

    .searchList {
        width: 90%;
        margin-left: auto;
        margin-right: auto;

        border: solid #A7BFD4 2px;
        border-radius: 2em;

        display: grid;
        grid-template-areas:
            "item1 item2 item3";

        justify-content: center;

    }

    .element1 {
        grid-area: item1;
    }

    .element2 {
        grid-area: item2;
    }

    .element3 {
        grid-area: item3;
    }

    .searchElement {
        margin: 2em;
        border: none;
    }

    /*region Search Button*/
    #searchButton:hover {
        color: #071e26;
        background-color: #A7BFD4;
    }

    #searchButton:active {
        color: #A7BFD4;
        background-color: #294652;
    }
    /*endregion*/

    /*region Event Item*/
    .wallPaper {
        width: 25%;
        height: 18em;
        border-radius: 3em;
        background-color: #A7BFD4;

        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .name {
        margin: 0.5em 0.2em 0 40%;
    }

    .detailsButton:hover {
        color: #071e26;
        background-color: #A7BFD4;
    }

    .detailsButton:active {
        background-color: #294652;
        color: #A7BFD4;
    }

    .infoLabel {
        margin: 0.5em 0 0 40%;
    }
    /*endregion*/
}